Package: ros-jazzy-qrb-camera-dbgsym
Package-Type: ddeb
Source: ros-jazzy-qrb-camera
Version: 2.0.2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Zhanye Lin <zhanlin@qti.qualcomm.com>
Installed-Size: 941
Depends: ros-jazzy-qrb-camera (= 2.0.2)
Section: debug
Priority: optional
Description: debug symbols for ros-jazzy-qrb-camera
Build-Ids: 9e3c3a7b461e01189558ca91be4f4d46f4f6799f d426a5f491f4a541886e0ebb5ac3de4f87b35545
